<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.avengers.DJMT.mapper.product.ProductMapper">
    <select id="getProduct"  resultType="com.app.avengers.DJMT.dto.product.ProductDto">
        SELECT
        *
        FROM
        Product
        WHERE 1=1
    </select>
    <select id="getProductDetail"
            parameterType="int"  resultType="com.app.avengers.DJMT.dto.product.ProductDto">
        SELECT
        *
        FROM
        Product
        WHERE 1=1
            and pdct_no = #{pdct_no}
    </select>
</mapper>
