<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.avengers.DJMT.mapper.member.MemberMapper">
    <!-- 토큰에서  값가져오기   -->
    <select id="ValidateTokenByMemNo" parameterType="String" resultType="com.app.avengers.DJMT.dto.member.MemberDto">
        SELECT
        *
        FROM
        MEMBER
        WHERE 1=1
        AND mem_no = #{mem_no}
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - ValidateTokenByMemNo */
    </select>

    <!-- 로그인 시 ID로 PW select -->
    <select id="loginCheckPw" parameterType="String" resultType="String">
     select
            login_pw
        from MEMBER
        where 1 = 1
        and login_id = #{login_id}
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - loginCheckPw */
    </select>

    <!-- ID로 memberDto select -->
    <select id="getMemberInfoByLoginId" parameterType="String" resultType="com.app.avengers.DJMT.dto.member.MemberDto">
        select
            *
        from MEMBER
        where 1 = 1
        and login_id = #{login_id}
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml -  getMemberInfoByLoginId */
    </select>

    <!-- 회원가입 -->
    <insert id="memberSave" parameterType="com.app.avengers.DJMT.dto.member.MemberDto">
        insert into MEMBER(mem_no,login_id,login_pw,mem_name,mem_gen,mem_addr1,mem_addr2,role,mem_status,reg_id,reg_date,chg_id,chg_date)
        values (#{mem_no}, #{login_id}, #{login_pw}, #{mem_name},#{mem_gen},#{mem_addr1},#{mem_addr2}, #{role}, #{mem_status}, #{reg_id}, #{reg_date}, #{chg_id}, #{chg_date})
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - memberSave */
    </insert>

    <delete id="start">
        delete from MEMBER
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - start */
    </delete>

    <select id="getMemberInfoByMemNo" resultType="com.app.avengers.DJMT.dto.member.MemberDto">
        select * from
        member
        where mem_no = #{mem_no}
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - getMemberInfoByMemNo */
    </select>
    <select id="getLoginIdByMemNo" resultType="String">
        select login_id from member
        where mem_no = #{mem_no}
    </select>
<!--    마이페이지 수정 -->
    <update id="editMemberInfo" parameterType="com.app.avengers.DJMT.dto.member.MemberDto" >
        update member
        <trim prefix="SET" suffixOverrides=",">
            login_id = #{login_id},
            <!-- 패스워드를 수정하지 않았으면 false값임 (암호화 되어있기 때문에 수정하지 않으면 변경 x)          -->
            <if test="etc_param1 == 'true'">
                login_pw = #{login_pw},
            </if>
            mem_name = #{mem_name},
            mem_gen = #{mem_gen},
            mem_addr1 = #{mem_addr1},
            mem_addr2 = #{mem_addr2},
            <if test="mem_profile != null ">
                mem_profile = #{mem_profile},
            </if>
            chg_date = #{chg_date},
            chg_id = #{chg_id}
            where mem_no = #{mem_no}
        </trim>
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - editMemberInfo */
    </update>

<!--    관리자페이지 - 사용자 리스트 -->
    <select id="selectMemberList" resultType="com.app.avengers.DJMT.dto.member.MemberDto">
        select row_number() over (order by tbl.reg_date desc) as rownum, tbl.*
        from (
        select mem_no, login_id, mem_name, mem_gen, mem_addr1, mem_addr2, role, reg_date, chg_date
        from member
        WHERE 1=1
        AND role != 'ADMIN'
        ) tbl
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - selectMemberList */
    </select>

<!--    관리자페이지 - 사용자 삭제 -->
    <delete id="adminDeleteMember" parameterType="String">
        delete from member
        where mem_no = #{mem_no}
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - adminDeleteMember */
    </delete>

<!--    사용자 login history-->
    <insert id="addLoginHistory" parameterType="com.app.avengers.DJMT.dto.login.LoginHistoryDto">
        insert into mem_hist
        (mem_no, reg_id, login_date, logout_date)
        values
        (#{mem_no}, #{reg_id}, #{login_date}, #{logout_date})
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - addLoginHistory */
    </insert>

<!--    사용자 login 시 history update-->
    <update id="updateLoginHistory" parameterType="com.app.avengers.DJMT.dto.login.LoginHistoryDto">
        update mem_hist
        <trim prefix="set">
            <choose>
                <when test='status == "Y"'>
                    login_date = #{current_date}
                </when>
                <otherwise>
                    logout_date = #{current_date}
                </otherwise>
            </choose>
            where mem_no = #{mem_no}
        </trim>
        /* com\app\avengers\DJMT\mapper\member\MemberMapper.xml - updateLoginHistory */
    </update>

</mapper>
