<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.avengers.DJMT.mapper.member.MemberMapper">
    <!-- 토큰에서  값가져오기   -->
    <select id="getLoginUserByLoginId" parameterType="String" resultType="com.app.avengers.DJMT.dto.member.MemberResponseDto">
        SELECT
        login_id,mem_name,role
        FROM
        MEMBER
        WHERE 1=1
        AND login_id = #{login_id}
    </select>
    <!-- 로그인 시 패스워드 체크 -->
    <select id="loginCheck" parameterType="com.app.avengers.DJMT.dto.member.MemberResponseDto" resultType="int">
        select
            1
        from MEMBER
        where 1 = 1
        and login_id = #{login_id}
        and login_pw = #{login_pw}
    </select>
    <!-- 로그인 시 ID로 PW select -->
    <select id="loginCheckPw" parameterType="String" resultType="String">
        select
            login_pw
        from MEMBER
        where 1 = 1
        and login_id = #{login_id}
    </select>
    <insert id="memberSave" parameterType="com.app.avengers.DJMT.dto.member.MemberDto">
        insert into MEMBER(mem_no,login_id,login_pw,mem_name,role,mem_status,reg_id,reg_date,chg_id,chg_date)
        values (#{mem_no}, #{login_id}, #{login_pw}, #{mem_name}, #{role}, #{mem_status}, #{reg_id}, #{reg_date}, #{chg_id}, #{chg_date})
    </insert>
    <delete id="start">
        delete from MEMBER
    </delete>
</mapper>
