body {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #111;
}
a {
  text-decoration: none;
  color: #111;
}
a:hover {
  color: #111;
}
img {
  display: block;
}
main {
  min-height: 500px;
  padding: 0 0 100px;
}