aside {
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 99;
  }
  aside ul {
    border: 1px solid #e5e5e5;
    border-radius: 6px 0 0 6px;
    background-color: rgba(255, 255, 255, .8);
  }
  aside ul li {
    border-bottom: 1px solid #e5e5e5;
  }
  aside ul li:last-child {
    border: none;
  }
  aside ul li span {
    padding: 10px;
    color: #888;
  }
  aside ul li span:hover {
    color: #888;
    cursor:pointer;
  }
  aside ul li span.red {
    color: #e84e4e;
  }
  aside ul li span.red:hover {
    color: #e84e4e;
    cursor:pointer;
  }

/* Aside.css */
.modal {
  display: block; /* 모달을 표시합니다. */
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 30%;
  height: 50%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 모달을 화면 중앙에 위치시킵니다. */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, 
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}