header {
  border-bottom: 1px solid #111;
}
header .submenu {
  background-color: #111;
}
header .submenu .inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}
header .submenu ul {
  display: flex;
  gap: 20px;
}
header .submenu li a {
  font-size: 13px;
  color: #c9c9c9;
}
header .gnb .inner {
  display: flex;
  align-items: center;
  height: 70px;
}
header .gnb .logo {
  font-size: 22px;
  font-weight: bold;
  margin: 0 40px 0 0;
}
header .gnb .menu {
  display: flex;
  gap: 30px;
}
header .gnb .search {
  flex-grow: 1;
  text-align: right;
}